.installed.cfg
bin/
buildout.cfg
develop-eggs/*
eggs/
etc/
src/
include/
lib/
local/
parts/
var/
# Plone
components/plone/buildout.cfg
components/plone/.installed.cfg
components/plone/parts
# Haproxy
components/haproxy/develop-eggs

